# Ignorar dependencias
node_modules/

# Ignorar archivos compilados
dist/

# Archivos de logs
*.log

# Ignorar backups de VSCode y sistema
.vscode/
.DS_Store
Thumbs.db

# Ignorar salidas de builds temporales
*.tsbuildinfo
